.interest_section {
  padding: 0px 40px;
}
.interest_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}
.interest_card {
  border-radius: 11px;
  padding: 20px;
  backdrop-filter: blur(20px);
  background-color: #ffffff91;
  cursor: default;
}
.interest_description{
  transition: .5s;
}

