.skill_section {
  padding: 0px 40px;
}
.skill_container{
  margin-bottom: 3rem;
}
.skill_icon_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;
}
.skill_icon {
  text-align: center;
  background:#ffffff91;
  padding: 8px;
  border-radius: 11px;
}
.skill_name {
  margin: 0;
}
