.project_link {
  text-decoration: none;
  color: inherit;
}
.project_section {
  padding: 0px 40px;
}
.project_card {
  border: 2px solid #ffffff91;
  border-radius: 11px;
  padding: 15px 10px;
  backdrop-filter: blur(20px);
  cursor: pointer;
  margin-bottom: 1rem;
}
.project_card_body {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 20px;
}
.project_title {
  margin-top: 0;
}
.project_tech_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.technology_section {
  display: grid;
  gap: 10px;
}
.myrole_section,
.team_section,
.technologies,
.teams {
  padding: 5px;
  background-color: #ffffff91;
  border-radius: 11px;
}
.project_sub_card {
  padding: 10px;
  padding-top: 0px;
}
.subHeading {
  margin: 0;
  margin-bottom: 5px;
  padding: 5px 10px;
}
.techHeading {
  margin: 0;
}
.tech_type {
  margin-bottom: 8px;
}
.item {
  list-style-type: disc;
}
.team_members {
  display: flex;
  justify-content: space-between;
}
