.experience_section {
  padding: 0px 40px;
}
.experience_card {
  border: 2px solid #ffffff91;
  border-radius: 11px;
  padding: 10px;
  backdrop-filter: blur(20px);
  transition: all 1s ease;
}
.experience_card_body {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 10px;
}
.company_name{
  margin: 0;
}
.responsibility_heading{
  text-align: center;
  margin-bottom: 0;
}
.responsibility_section {
  padding: 10px;
  background-color: #ffffff91;
  border-radius: 11px;
}
.responsibilities{
  padding: 10px;
}

