body {
  background-color: #daf7a6;
  color: #424242;
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-family: monospace;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.light_mode_img {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.25;
}
.loading_container {
  -webkit-box-reflect: below -5px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  text-align: center;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading_container span {
  display: inline-block;
  font-size: 20px;
  animation: animate 1s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-20px);
  }
  40%,
  100% {
    transform: translateY(0px);
  }
}

/* Common CSS */
.go_back {
  border-radius: 11px;
  background: #ffffff91;
  border: none;
  height: 40px;
  padding: 10px;
  cursor: pointer;
}
.go_back_text {
  margin: 0;
  color: #424242;
  font-weight: bolder;
}
.mobile_go_back_container {
  display: none;
  margin-top: 1rem;
}
.s {
  height: 50px;
  width: 50px;
}
.m {
  height: 100px;
  width: 100px;
}
.l {
  height: 150px;
  width: 150px;
}
.s,
.m,
.l {
  animation: skeleton 1.6s linear infinite alternate;
}
.skeleton_circle {
  border-radius: 50%;
}
.skeleton_square {
  border-radius: 11px;
}
.skeleton_rectangle {
  border-radius: 11px;
}
@keyframes skeleton {
  0% {
    background-color: hsl(0deg 0% 85.49% / 40%);
  }
  100% {
    background-color: hsl(0deg 0% 34.31% / 43%);
  }
}

/* Dark Mode Css */
.dark_mode {
  background-color: #212121;
  color: #d7d7d7d4;
  .light_mode_img {
    display: none;
  }
  .explore_more_btn {
    border-color: #424242;
  }
  .section_card {
    border-color: #424242;
    .explore_all_btn {
      background-color: #0000006e;
      color: #d7d7d7d4;
    }
  }
  .card {
    border-color: #424242;
  }
  .go_back,
  .myrole_section,
  .technology_section,
  .team_section,
  .responsibility_section,
  .interest_card_body,
  .interest_card {
    background-color: #0000006e;
  }
  .go_back_text {
    color: #d7d7d7d4;
  }
  .skill_name {
    color: #000000d4;
  }
  .skill_icon {
    border: 3px solid #000000e3;
  }
}
