body {
  background-color: #daf7a6;
  color: #424242;
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-family: monospace;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.light_mode_img {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.25;
}
.loading_container {
  text-align: center;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading_container span {
  display: inline-block;
  font-size: 20px;
  animation: animate 1s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-20px);
  }
  40%,
  100% {
    transform: translateY(0px);
  }
}

/* Common CSS */
.go_back {
  border-radius: 11px;
  background: #ffffff91;
  border: none;
  height: 40px;
  padding: 10px;
  cursor: pointer;
}
.go_back_text {
  margin: 0;
  color: #424242;
  font-weight: bolder;
}
.mobile_go_back_container {
  display: none;
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 5px;
}
.mb-2 {
  margin-bottom: 10px;
}
.t-center {
  text-align: center;
}

/* Dark Mode Css */
.dark_mode {
  background-color: #212121;
  color: #d7d7d7d4;
  .light_mode_img {
    display: none;
  }
  .explore_more_btn {
    border-color: #424242;
  }
  .section_card {
    border-color: #424242;
    .explore_all_btn {
      background-color: #0000006e;
      color: #d7d7d7d4;
    }
  }
  .card {
    border-color: #424242;
  }
  .go_back,
  .myrole_section,
  .technologies,
  .teams,
  .team_section,
  .responsibility_section,
  .interest_card_body,
  .interest_card,
  .project_link_btn {
    background-color: #0000006e;
    p{
      color: #d7d7d7d4;;
    }
  }
  .go_back_text {
    color: #d7d7d7d4;
  }
  .skill_name {
    color: #000000d4;
  }
  .skill_icon {
    border: 3px solid #000000e3;
  }
}
