/* Phone */
@media (max-width: 480px) {
  .header_container{
    margin-bottom: 0 !important;
  }
  .header_container,
  .logo_container {
    display: block !important;
    text-align: center;
  }
  .header_avatar_container{
    justify-content: center;
  }
  .header_avatar{
    height: 70px !important;
    width: 70px !important;
  }
  .header_avatar_container span{
    display: none;
  }
  .main_container{
    margin-top: 220px !important;
  }
  .intro_container {
    display: grid !important;
    width: auto !important;
    justify-content: center;
    align-items: center;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  .main_container{
    margin-bottom:0 !important;
  }
  .footer_container_cards {
    grid-template-columns: .8fr !important;
    .card {
      &:hover {
        transform: scale(1);
      }
    }
  }
  .cards_section {
    grid-template-columns: 1fr !important;
  }
  .section_card {
    &:hover {
      transform: none !important;
      backdrop-filter: blur(20px) !important;
      .section_cards_title {
        display: flex !important;
      }
    }
    img{
      height: 100px !important;
      width: 100px !important;
    }
    .avatar_container img {
      height: 100px;
      width: 100px;
    }
  }
  .explore_more_btn{
    width: 100%;
  }
  .project_card_body{
    grid-template-columns: 1fr !important;
  }
  .project_card:hover{
    transform: scale(1) !important;
    backdrop-filter: blur(20px) !important;
  }
  .project_tech_section{
    grid-template-columns: 1fr !important;
  }
  .project_link_btn{
    width: 100%;
  }
  .experience_card:hover{
    transform: scale(1) !important;
    backdrop-filter: blur(20px) !important;
  }
  .experience_card_body{
    grid-template-columns: 1fr !important;
  }
  .interest_cards{
    grid-template-columns: 1fr !important;
  }
  .section_title_container{
    justify-content: center;
  }
  .subHeading{
    text-align: center;
  }
  .mobile_go_back_container{
    display: grid !important;
  }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 1023px) {
  .header_container,
  .logo_container {
    display: block !important;
    text-align: center;
  }
  .header_avatar{
    height: 70px !important;
    width: 70px !important;
  }
  .header_avatar_container{
    justify-content: center;
  }
  .header_avatar_container span{
    display: none;
  }
  .main_container{
    margin-top: 220px !important;
  }
  .intro_container {
    width: 70% !important;
  }
  .cards_section {
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr 1fr !important;
    row-gap: 60px !important;
    column-gap: 30px !important;
  }
  .card_1 {
    grid-area: 1/1/2/2;
  }
  .card_2 {
    grid-area: 1/2/2/3;
  }
  .card_3 {
    grid-area: 2/1/3/2;
  }
  .card_4 {
    grid-area: 2/2/3/3;
  }
  .section_card {
    &:hover {
      transform: none !important;
      backdrop-filter: blur(20px) !important;
      .section_cards_title {
        display: flex !important;
      }
      img{
        height: 120px !important;
        width: 120px !important;
      }
    }
  }
  .project_card_body{
    grid-template-columns: 1fr !important;
  }
  .project_card:hover{
    transform: scale(1) !important;
    backdrop-filter: blur(20px) !important;
  }
  .footer_container_cards {
    grid-template-columns: .7fr .7fr !important;
    .card {
      &:hover {
        transform: scale(1);
      }
    }
  }
  .experience_card:hover{
    transform: scale(1) !important;
    backdrop-filter: blur(20px) !important;
  }
  .experience_card_body{
    grid-template-columns: 1fr !important;
  }
  .interest_cards{
    grid-template-columns: 1fr 1fr !important;
  }
}
