.intro_container {
  width: 50%;
  min-height: 200px;
  display: table;
  margin: 0 auto;
  padding: 100px 40px;
  border-radius: 15px;
}
.title {
  margin: 0;
}
.subtitle {
  margin: 0;
}
.explore_more_btn{
  background-color: transparent;
  border: 2px solid #ffffff91;
  border-radius: 11px;
  color: inherit;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}
.explore_me_text{
  font-weight: 900;
  font-family: monospace;
}
