.footer_container {
  padding: 40px;
}
.footer_title_container{
  text-align: center;
}
.footer_title{
  text-align: center;
  transition: .5s;
  text-transform: capitalize;
}
.footer_container_cards {
  z-index: 2;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  column-gap: 80px;
  justify-content: center;
  gap: 40px;
  margin-top: 2rem;
}
.card_link {
  text-decoration: none;
  color: inherit;
}
.card {
  position: relative;
  z-index: 9;
  cursor: pointer;
  padding: 10px;
  border: 2px solid #ffffff91;
  border-radius: 11px;
  display: flex;
  align-items: center;
  min-width: 140px;
  justify-content: center;
  transition: 1s;
  backdrop-filter: blur(20px);
  &:hover {
    transform: scale(1.2);
  }
}
.type {
  margin-left: 8px;
}
