.section {
  padding: 40px;
  transition: opacity 0.5s ease-in-out;
}
.cards_section {
  display: grid;
  justify-content: center;
  min-height: 200px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 50px;
  padding: 0 20px;
  transition: opacity 0.5s ease-in-out;
}
.section_card {
  min-height: 200px;
  border-radius: 11px;
  padding: 15px;
  backdrop-filter: blur(20px);
  display: grid;
  justify-content: center;
  border: 2px solid #ffffff91;
  cursor: pointer;
  transition: 1s;
  height: 100%;
  position: relative;
  overflow: hidden;
  &:hover {
    backdrop-filter: none;
    transform: scale(1.1);
    img {
      height: 150px;
      width: 150px;
      transition: height 1s ease, width 1s ease;
    }
  }
}
.section_cards_title {
  transition: opacity 1s;
  display: flex;
  justify-content: center;
  p {
    margin: 0;
  }
}
.avatar_container {
  text-align: center;
}
.avatar_container img {
  transition: all 1s ease;
}
.card_explore_more_container {
  text-align: center;
}
.explore_all_btn {
  border: none;
  border-radius: 11px;
  background-color: #ffffff91;
  cursor: pointer;
  color: #424242;
  width: 100%;
}
.explore_all_text {
  padding: 10px;
  margin: 0;
  font-weight: bolder;
}

.preLoader {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr ;
  grid-template-columns: 1fr .5fr 1fr ;
  gap: 40px;
  /* animation: move 15s infinite linear; */
  /* min-height: 70vh; */
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item_1 {
  grid-area: 1/2/1/4;
}
.item_2 {
  grid-area: 2/4/2/4;
}
.item_3 {
  grid-area: 3/2/4/4;
}
.item_4 {
  grid-area: 2/1/2/2;
}
.item_5 {
  grid-area: 2/2/2/4;
}
.text {
  animation: moveNeg 15s infinite linear;
  transform-origin: center;
  transform: rotate(-360deg);
  border-radius: 50%;
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff91;
  backdrop-filter: blur(20px);
  font-weight: 900;
  cursor: pointer;
}
@keyframes moveNeg {
  100% {
    rotate: -360deg;
  }
}
@keyframes move {
  100% {
    rotate: 360deg;
  }
}
