.section {
  padding: 40px;
}
.cards_section {
  display: grid;
  justify-content: center;
  min-height: 200px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 50px;
  padding: 0 20px;
}
.section_card {
  min-height: 200px;
  border-radius: 11px;
  padding: 15px;
  backdrop-filter: blur(20px);
  display: grid;
  justify-content: center;
  border: 2px solid #ffffff91;
  cursor: pointer;
  height: 100%;
  position: relative;
  overflow: hidden;
  &:hover {
    backdrop-filter: none;
  }
}
.section_cards_title {
  display: flex;
  justify-content: center;
  p {
    margin: 0;
  }
}
.avatar_container {
  text-align: center;
}
.avatar_container img {
}
.card_explore_more_container {
  text-align: center;
}
.explore_all_btn {
  border: none;
  border-radius: 11px;
  background-color: #ffffff91;
  cursor: pointer;
  color: #424242;
  width: 100%;
}
.explore_all_text {
  padding: 10px;
  margin: 0;
  font-weight: bolder;
}
